<div style='padding: 10px 45%;'>
  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <div>
      <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{selectedName}}</button>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button class="dropdown-item"*ngFor='let customer of customers' (click)='getCustomer(customer)'>{{customer.name}}</button>
    </div>
  </div>
</div>
<div class="container" *ngIf='customer.name'>
  <h3 class='text-center'>Customer Name: {{customer.name}}</h3>
  <hr/>
  <div class="row">
    <div class='col'>Customer Id: <b>{{customer.name}}</b></div>
    <div class='col'>Contact Person: <b>{{customer.contactPerson}}</b></div>
    <div class='col'>Contact Name: <b>{{customer.contactNumber}}</b></div>
  </div>
</div>

<!-- List of work locations-->

<div class="container" style="margin-top: 20px;" *ngIf='customer.name'>
  <div class="row">
    <a class="col boxer" href='#'>
      <h5>{{addresses[0].shortName}}</h5>
      <p>{{addresses[0].address}}</p>
    </a>
    <a class="col boxer" href='#'>
      <h5>{{addresses[1].shortName}}</h5>
      <p>{{addresses[1].address}}</p>
    </a>
  </div>  
  <div class="row">
    <a class="col boxer" href='#'>
      <h5>{{addresses[2].shortName}}</h5>
      <p>{{addresses[2].address}}</p>
    </a>
    <a class="col boxer" href='#'>
      <h5>{{addresses[3].shortName}}</h5>
      <p>{{addresses[3].address}}</p>
    </a>
  </div>
</div>