<h3 class='text-center'>Our Customers</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Sold to Party</th>
      <th>Contact Person</th>
      <th>Contact Number</th>
      <th>Ship to Party</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let cust of customers'>
      <td><a routerLink='{{cust.id}}'>{{cust.id}}</a></td>
      <td><a routerLink='{{cust.id}}'>{{cust.name}}</a></td>
      <td>{{cust.soldToParty}}</td>
      <td>{{cust.contactPerson}}</td>
      <td>{{cust.contactNumber}}</td>
      <td>{{cust.shipToParty}}</td>
    </tr>
  </tbody>
</table>