<h1 class='text-center'> {{customer.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center" style='padding: 30px;'><a class='btn btn-primary'>Workstation 1</a></div>
    <div class="col-sm-6 text-center" style='padding: 30px;'><a class='btn btn-primary'>Workstation 2</a></div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center" style='padding: 30px;'><a class='btn btn-primary'>Workstation 3</a></div>
    <div class="col-sm-6 text-center" style='padding: 30px;'><a class='btn btn-primary'>Workstation 4</a></div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" style='padding: 30px;'><a class='btn btn-success btn-sm'>Add Site</a></div>
  </div>
</div>