<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="customers">Our Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="service-requests">Service Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reports">Reports</a>
    </li>
  </ul>
  <ul class="navbar-nav mlng s -o-auto"  *ngIf='isLoggedIn'>
    <li>
      <a routerLink='/logout'>Log Out</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>